<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="//static.{{server_name}}/css/base.css">
        <link rel="stylesheet" href="//static.{{server_name}}/css/english.css">
        <link rel="icon" href="//static.{{server_name}}/icons/avali.png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Avali Scratch - {% block title %}{% endblock title %}</title>
    </head>
    
    <body>
        <div class="content">
            {% block header %}{% endblock header %}
        </div>
        <div class="navbar">
            <div class="pod">
                <a href="/">Home</a>
            </div>
            <div class="pod">
                <a href="/practice/letter">Letter practice</a>
            </div>
            <div class="pod">
                <a href="/practice/word">Word practice</a>
            </div>
            <div class="pod">
                <a href="/resources">Resources</a>
            </div>
            <div class="pod">
                <a href="//{{server_name}}">Back to main site</a>
            </div>
        </div>
        {% block content %}{% endblock content %}
    </body>
</html>