{% extends "base.jinja" %}

{% block head %}
<link rel="stylesheet" href="/static/css/english.css">
{% endblock head %}

{% block nav_override %}
    <div class="navbar">
        <div class="pod">
            <a href="/scratch">Home</a>
        </div>
        <div class="pod">
            <a href="/scratch/practice/letter">Letter practice</a>
        </div>
        <div class="pod">
            <a href="/scratch/practice/word">Word practice</a>
        </div>
        <div class="pod">
            <a href="/scratch/resources">Resources</a>
        </div>
        <div class="pod">
            <a href="/">Back to main site</a>
        </div>
    </div>
    {% endblock nav_override %}