{% extends "scratch/base.jinja" %}

{% block title %} Welcome! {% endblock title %}

{% block description %}
    Learn how to read Avali Scratch with our interactive activities and external content directory.
{% endblock description %}

{% block header %}
    <h1>Avali Scratch!</h1>
{% endblock header %}
{% block content %}
    <div class="content">
        <h2>What's avali scratch?</h2>
        <p>
            Avali scratch is an alternative to the english alphabet used by avali!
            It isn't a language itself, but just an alternative to english letters. <br>
            This makes it easy to learn for us english-speakers!<br>
        </p>
    </div>
    <div class="content">
        <h2>How do I learn it?</h2>
        <p>
            You're in the right place! I recommend starting with the resources linked above,
            then continuing on to the letter and word practice when you are ready.
        </p>
    </div>
{% endblock content %}