<!DOCTYPE html>

<html lang="en">

<head>
    <link rel="stylesheet" href="/static/css/practice.css">
    <script src="/static/js/subpage-practice.js"></script>
</head>

<body>
    <div class="content">
        <div class="questionboxholder">
            <div class="questionbox">
                <h1 class="question">{{prompt}}</h1>
            </div>
        </div>

        <div class="dock">
            <div class="pod" id="answer1" onclick="checkanswer('{{answers[0]}}', '{{prompt}}')">
                <p>{{answers[0]}}</p>
            </div>
            <div class="pod" id="answer2" onclick="checkanswer('{{answers[1]}}', '{{prompt}}')">
                <p>{{answers[1]}}</p>
            </div>
            <div class="pod" id="answer3" onclick="checkanswer('{{answers[2]}}', '{{prompt}}')">
                <p>{{answers[2]}}</p>
            </div>
        </div>
    </div>
</body>

</html>