{% extends "scratch/base.jinja" %}

{% block title %} Resources {% endblock title %}

{% block description %}
Use our extensive resource directory to find what you need to learn Avali Scratch!
{% endblock description %}

{% block header %}
<h1>Resources</h1>
{% endblock header %}
{% block content %}
<div class="content">
    <h2>Printables</h2>
    <div class="dock">
        <div class="pod">
            <h3>AnnoyingRains' sheets</h3>
            <p>
                AnnoyingRains (that's me!) has made a printable PDF with both sequenced alphabet and vocabulary drills
            </p>
            <div class="dock">
                <div class="pod">
                    <a href="/static/content/AnnoyingRains/avali scratch practice.pdf">Get it! (Right
                        here!)</a>
                </div>
            </div>
        </div>
        <div class="pod">
            <h3>Xyphurr's alphabet drills</h3>
            <p>
                Xyphurr has made a printable PDF with extensive sequenced alphabet drills
            </p>
            <div class="dock">
                <div class="pod">
                    <a href="https://xyphurr.tplinkdns.com/nextcloud/s/bipckfQg3CRxcJ8">Get it! (Personal site)</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <h2>Interactives</h2>
    <div class="dock">
        <div class="pod">
            <h3>Letter Practice</h3>
            <p>
                This website has an interactive letter practicing game!
            </p>
            <div class="dock">
                <div class="pod">
                    <a href="/practice/letter">Play it! (Right here!)</a>
                </div>
            </div>
        </div>
        <div class="pod">
            <h3>Word Practice</h3>
            <p>
                This website has an interactive word practicing game!
            </p>
            <div class="dock">
                <div class="pod">
                    <a href="/practice/word">Play it! (Right here!)</a>
                </div>
            </div>
        </div>
        <div class="pod">
            <h3>Matthew Herber's Avali Scratch Trainer</h3>
            <p>
                This avali scratch trainer swaps out a percentage of words in a prompt with avali scratch equivalents!
            </p>
            <div class="dock">
                <div class="pod">
                    <a href="https://www.matthewherber.com/avali-scratch-trainer/">Try it! (Website)</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <h2>Other</h2>
    <div class="dock">
        <div class="pod">
            <h3>Avali Scratch Font</h3>
            <p>
                SomeGuyNamedDavid made the main avali scratch font!
            </p>
            <div class="dock">
                <div class="pod">
                    <a href="https://fontstruct.com/fontstructions/show/1108804/avali_scratch">Get it! (Fontstruct)</a>
                </div>
            </div>
        </div>
        <div class="pod">
            <h3>Translation Matrix</h3>
            <p>
                Aphinity has made an avali scratch translation matrix!
            </p>
            <div class="dock">
                <div class="pod">
                    <a href="https://imgur.com/gallery/LALSnPm">Get it! (Imgur)</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}