@font-face {
    font-family: 'Avali Scratch';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/avali-scratch.ttf") format("truetype");
}

@media (max-height: 1080px) {
    body::before {
        background: url("../images/jetpack-avali-1080.webp") no-repeat center center;
    }
}

@media (min-height: 1081px) {
    body::before {
        background: url("../images/jetpack-avali-1620.webp") no-repeat center center;
    }
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    backdrop-filter: blur(5px);
    background-color: #6d6d6d91;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

.modal-content button {
    backdrop-filter: blur(10px);
    background-color: #9f9f9f91;
    border: none;
    padding: 10px
}

.modalinputs {
    display: flex;
    justify-content: center;
    gap: 5%;
}

.englishmodal {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

/* Three cheers to Apple for making me do this! */
body::before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 65%;
}

body {
    background-color: #3794E0;
    /* to not blind people during loading */
    line-height: 0.8;
    font-size: 140%;
    /* This is because avali scratch renders smaller than english fonts*/
    font-family: "Avali Scratch";

    color: white;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
}

textarea {
    /* font stuff that I shouldn't even need to do */
    line-height: 0.8;
    font-size: 80%;
    /* This is because avali scratch renders smaller than english fonts*/
    font-family: "Avali Scratch";

    background-color: #8edbff73;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

input {
    /* font stuff that I shouldn't even need to do */
    line-height: 0.8;
    font-size: 80%;
    /* This is because avali scratch renders smaller than english fonts*/
    font-family: "Avali Scratch";

    background-color: #8edbff73;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #FF850C;
}

h2 {
    text-align: center;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

table {
    width: 100%;
}

.content {
    background-color: #6d6d6d91;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding: 1em;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 10px;
    margin-bottom: 0.5em;
}

.flash {
    text-align: center;
}

.flash_success {
    background-color: #0dbc0191;
}

.flash_error {
    background-color: #bc010191;
}

.navbar {
    background-color: #6d6d6d77;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0.2em;
    border-radius: 10px;
    margin: 0.5em auto;
    width: fit-content;
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
}

.left-dock {
    display: flex;
    gap: 1rem;
}

.dock {
    display: flex;
    gap: 1rem;
    width: fit-content;
    margin: 0 auto;
    flex-flow: row wrap;
}

.pod {
    background-color: #8b8b8b3d;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0.5em;
    backdrop-filter: blur(20px);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 10px;
    flex: 1;
    min-width: 4cm;
    width: fit-content;
    text-align: center;
}

.pod .pod {
    min-width: auto;
}

.navbar .pod {
    flex: none;
    min-width: auto;
}