body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100%;
    line-height: normal;
}

textarea {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: normal;
    font-size: revert;
    /* This is because avali scratch renders smaller than english fonts*/
}

input {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: normal;
    font-size: revert;
    /* This is because avali scratch renders smaller than english fonts*/
}