{% extends "base.jinja" %}

{% block title %} Contact {% endblock title %}

{% block header %}
    <h1>Golink Creation: Success!</h1>
{% endblock header %}

{% block content %}
    <div class="content">
        <p>The Golink <a href="{{ golink }}">{{ golink }}</a> has been created!</p>
    </div>
{% endblock content %}