{% extends "base.jinja" %}

{% block title %}Todd's Lore Book{% endblock title %}

{% block header %}
<h1>Todd's Lore Book</h1>
{% endblock header %}
{% block content %}
<div class="content">
    <p>Note: if you are on iOS, this may not display correctly!
    In that case, please <a href="https://avali.nexus/lorebook.pdf">click here</a>,and view it from the source!</p>
    <embed src="https://avali.nexus/lorebook.pdf" style="width: 100%; height: 95vh;" type="application/pdf" allowfullscreen>
</div>
{% endblock content %}