{% extends "base.jinja" %}

{% block title %}Wiki{% endblock title %}
{% block description %}Read the official avali wiki, to discover the official lore behind the Avali Species{% endblock description %}

{% block header %}
<h1>Wiki</h1>
{% endblock header %}
{% block content %}
<div class="content">
    <p>
        <iframe src="https://avali.fandom.com/wiki/The_Official_Avali_Wiki" style="width: 100%; height: 90vh;"></iframe>
    </p>
</div>
{% endblock content %}