{% extends "base.jinja" %}

{% block title %} {{ type }} List {% endblock title %}

{% block header %}
<h1>Admin: {{ type }} List</h1>
{% endblock header %}

{% block content %}
<div class="content">
    <table>
        <tr>
            {% for header in headers %}
            <th>{{header[1]}}</th>
            {% endfor %}
        </tr>
        {% for item in items %}
        <tr>
            {% for data in item %}
            <td>{{data}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock content %}