{% extends "base.jinja" %}

{% block title %}404{% endblock title %}

{% block header %}
<h1>{{error.code}} - {{error.name}}</h1>
{% endblock header %}
{% block content %}
<div class="content">
    <p>Well, that didn't go right...</p>
    <p>The weird human machine said: "{{error.description}}"</p>
</div>
{% endblock content %}