{% extends "base.jinja" %}

{% block title %}The home of the Avali!{% endblock title %}

{% block header %}
<h1>Welcome to avali.zone, the home of the Avali!</h1>
{% endblock header %}
{% block content %}
    <div class="content">
    <p>Welcome, this website will act as a directory to all content in the avali community, including 3D models, chatrooms, art, fonts, etc.</p>
    <p>Although, sadly, the website currently has... very little content, at all, that will change soon though!</p>
    <p>Stay tuned!</p>
</div>
{% endblock content %}