{% extends "base.jinja" %}

{% block title %}Login required{% endblock title %}

{% block header %}
    <h1>You'll need to log in to access that page</h1>
{% endblock header %}
{% block content %}
    <div class="content">
        <h2>Please log in to continue</h2>
        <div class="dock">
            <a href="{{ url_for('google.login') }}">
                <div class="pod">
                    Log in with google
                </div>
            </a>
        </div>
        <p>LEGAL NOTICE: By logging in above, you accept the below:</p>
        <p>
            Your email address will be stored by our system, as well as a list of any rights you have on this platform
            (eg:
            ability to edit specific pages)
            and other data required for our service to operate. Your data will be stored securely on a best-effort
            basis.
        </p>
        <p>
            If you wish to have this data removed, or view your own data, please contact me at: legal@annoyingrains.xyz
        </p>
    </div>
{% endblock content %}