{% extends "base.jinja" %}

{% block title %} About {% endblock title %}

{% block description %}
Learn more about avali.zone, the avali content and group directory! So meta...
{% endblock description %}

{% block header %}
<h1>About avali.zone</h1>
{% endblock header %}
{% block content %}
<div class="content">
    <h2>What's an avali?</h2>
    <p>Avali are a species of bipedal birds from the planet Avalon, often used in the furry fandom. <br>
        Want to learn more about them? Check out the <a href="lore">lore pages</a>!</p>
</div>
<div class="content">
    <h2>Who made this site?</h2>
    <p>That'd be me, AnnoyingRains!</p>
    <p>However, I did use some assets, with permission, from other sources. Credit for those are listed below:</p>
    <ul>
        <li>Avali Species: <a href="https://www.furaffinity.net/journal/9954644/">RyuujinZERO</a></li>
        <li>Background image: drawn by <a href="https://twitter.com/Dev_Voxy">@Dev_Voxy</a>
            and <a href="https://twitter.com/Kampidh">@kampidh</a> as a commission for <a
                href="https://twitter.com/wazbat">@wazbat</a></li>
        <li>Avali Scratch font: <a
                href="https://fontstruct.com/fontstructions/show/1108804/avali_scratch">SomeGuyNamedDavid</a></li>
        <li>Sound effects: <a href="https://www.zapsplat.com">ZapSplat</a></li>
    </ul>
</div>
<div class="content">
    <h2>Do you offer dedicated pages or sub-sites for groups or content creators?</h2>
    <p>Yes, but no-one has taken me up on that yet</p>
    <p>If you want one, just <a href="contact">reach out!</a></p>
</div>
<div class="content">
    <h2>Do you keep logs?</h2>
    <p>Yes, but we do NOT store any personal information at all. The little data we DO store (which pages you visit) is
        kept completely anonymous, and doesn't even include things such as IP address.</p>
    <p>These stats are publicly visible on <a href="stats">this</a> page.</p>
    <p>These stats are reset each time the server restarts, and are kept so I know what pages people are actually
        visiting!</p>
</div>
{% endblock content %}