{% extends "base.jinja" %}

{% block title %} Contact {% endblock title %}

{% block header %}
<h1>Contact - submitted!</h1>
{% endblock header %}
{% block content %}
<div class="content">
    <p>
        Thank you for submitting your message. I will get back to you soon! (unless it's spam, in which case, I am
        mildly upset at you)
    </p>
</div>
{% endblock content %}