{% extends "base.jinja" %}

{% block title %} The home of the Avali! {% endblock title %}
{% block description %}
    Discover avali.zone, a directory of content and groups, made by, and for, the avali community.
{% endblock description %}

{% block head %}
    <link rel="me" href="https://meow.social/@AnnoyingRains">
{% endblock head %}

{% block header %}
    <h1>Welcome to avali.zone, the home of the Avali!</h1>
{% endblock header %}
{% block content %}
    <div class="content">
        <p>Welcome, this website aims to be a directory to all content in the avali community, including 3D models,
            Discord Servers, games, and even <a href="/scratch/">resources to help you learn Avali Scratch!</a></p>
        <p>This goal, while lofty, is slowly making progress!</p>
        <p>If you know of anything this website is missing, please <a href="/contact">get in contact</a>!</p>
    </div>
{% endblock content %}