{% extends "base.jinja" %}

{% block title %} Lore {% endblock title %}
{% block description %} Discover the rich lore behind the avali species {% endblock description %}
{% block header %}
    <h1>Lore</h1>
{% endblock header %}
{% block content %}
    <div class="content">
        <p>
            Avali lore is located in two different places at the moment, with no real consensus from the community.
            These places are, the fandom (ew) wiki, and Todd's lore book.
        </p>
        <p>
            Both of these have issues, such as the lore book being considered unofficial,
            and the fandom wiki being mostly written during the Starbound-era of the fandom.
        </p>
        <div class="dock">
            <div class="pod">
                <a href="lore/book">Todd's lore book</a>
            </div>
            <div class="pod">
                <a href="lore/wiki">Fandom wiki</a>
            </div>
        </div>
    </div>

{% endblock content %}